
/src/specs/TripleLands.Blogger.EndToEndTest/bin
/src/app/TripleLands.Blogger.Dao/bin
/src/app/TripleLands.Blogger.Domain/bin
/src/app/TripleLands.Blogger.Service/bin
/src/app/TripleLands.Blogger.ServiceImpl/bin