<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>An  example that demonstrates simple IoC features.</description>
      <object id="Calculator" type="TripleLands.Blogger.EndToEndTest.springcomponent.Calculator, TripleLands.Blogger.EndToEndTest" ></object>
      <object id="BlogService" type="TripleLands.Blogger.ServiceImpl.BlogService, TripleLands.Blogger.ServiceImpl" ></object>

    </objects>
  </spring>
</configuration>